body{
    background:url("pexels-felix-mittermeier-956999.jpg");
}
.navbar{
    display: inline-block;
}
img{
    height: 140px;
    margin-left: 75px;
}
ul{
    padding-left: 500px;
    padding-top: 35px;
}
ul.nav{
    margin-right: 50px;
    text-decoration: none;
    float: right;
    display: inline;
}
ul.nav li{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-left: 20px;
}
ul.nav li a{
    font-weight: bolder;
    font-family: sans-serif;
    color: rgba(1,255,209,0.87);
    text-decoration: none;
    border-bottom: 2px white solid;
    border-top: 2px white solid;
    border-radius: 5%;
}
ul.nav li a:hover{
    background-color: white;
}
.prvdel{
    height: 400px;
}
body > div.navbar > h2{
    display: inline-block;
}
.slika{
    float: right;
    position: relative;
    width: 400px;
    height: 550px;
    margin-right: 170px;
    margin-bottom: 30px;
}
body > div.prvdel > div > h3{
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
    word-spacing: 3px;
    color: #ffd492; /* #ffd492 */
    padding-top: 230px;
    margin-left: 100px;
}
body > div.prvdel > div > h3:hover{
    color: red;
    text-shadow: 1px 3px lightseagreen;
    border-bottom: 2px red solid;
}
body > div.prvdel > div > h1{
    color: #ffd492;
    padding-top: 0;
    margin-left: 100px;
}
body > div.prvdel > div > h1:hover{
    color: red;
    text-shadow: 2px 3px lightseagreen;
}
body > div.prvdel > div > h3{
    display: inline-block;
    font-size: 50px;
    font-family: "Courier New";
    font-weight: 4800;
    margin-top: -80px;
    border-bottom: 2px white double;
}
body > div.prvdel > div > h1{
    font-size: 100px;
    font-family: "Courier New";
    font-weight: 4800;
    margin-top: -10px;
}

body > div.prvdel > img{
    margin-top: -15px;
    display: inline-block;
}
.tekstabout p{
    display: inline-block;
    color: #ffd492;
    margin-top: 100px;
    margin-left: 180px;
    font-size: 26px;
    font-weight: 70;
    font-family: "Arial";
    background-color: #073c6e; /* #073c6e */
    width: 450px;
    border: #4dffcf 5px solid;
    text-shadow: red 1px 0;
    border-radius: 30px;
    text-align: center;
}
.tekstskils p:first-of-type{
    display: inline-block;
    color: #ffd492;
    font-weight: 70;
    margin-top: 70px;
    margin-left: 180px;
    background-color: #073c6e;
    font-family: "Arial";
    width: 460px;
    text-align: center;
    font-size: 26px;
    border: #4dffcf 4px solid;
    text-shadow: red 1px 0;
    border-radius: 30px;
}
body > div.prvdel > img{
    margin-top: -20px;
}
.tekstskils p:nth-of-type(2){
    display: inline-block;
    color: #ffd492;
    font-weight: 70;
    margin-top: 10px;
    margin-left:180px;
    background-color: #073c6e;
    width: 450px;
    font-family: "Arial";
    text-align: center;
    font-size: 26px;
    border: #4dffcf 4px solid;
    text-shadow: red 1px 0;
    border-radius: 30px;
}
.prvdelcontact p{
    background-color: #073c6e;
    display: inline-block;
    color: #ffd492;
    font-weight: 70;
    margin-top: 60px;
    margin-left: 180px;
    width: 450px;
    font-family: "Arial";
    text-align: center;
    font-size: 26px;
    border: #4dffcf 4px solid;
    text-shadow: red 1px 0;
    border-radius: 30px;
}
.gmail{
    height: 120px;
}
section{
    margin-top: 15px;
    margin-left: 150px;
}
body{
    margin-bottom: 0;
}
body > div.prvdelcontact > img{
    margin-top: -20px;
}